################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ListInCSharp/.vs/ListInCSharp
/ListInCSharp/obj
/ListInCSharp/bin/Debug/netcoreapp3.1
/ListInCSharp/.vs/ProjectEvaluation
